<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<style>
  .navbar-scroll {
  background-color: #343a40; /* Couleur de fond de la barre de navigation en mode fixe */
}

.navbar-scroll .navbar-brand,
.navbar-scroll .navbar-nav .nav-link {
  color: #ffffff; /* Couleur du texte dans la barre de navigation en mode fixe */
}
</style>
<body>
<nav class="navbar navbar-expand-lg  navbar-light justify-content-between" id="mainNav">
    <div class="container-fluid">
        <img src="assets/imagees/productionIcon.png" class=" Icon" height="40" width="50" alt="ProdIcon">
        <a class="navbar-brand ms-4 fw-bold me-4 " href="#">EasyPlan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item mx-4" routerLinkActive="active">
                  <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
              </li>
              <li class="nav-item mx-4" routerLinkActive="active">
                  <a class="nav-link" routerLink="list-courses">Fnctionnalité</a>
              </li>
              <li class="nav-item mx-4" routerLinkActive="active">
                  <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item mx-4" routerLinkActive="active">
                  <a class="nav-link" routerLink="Account">Account</a>
              </li>
              <li class="nav-item mx-4" routerLinkActive="active">
                  <a class="nav-link" href="#">About</a>
              </li>
          </ul>
      </div>
    </div>
</nav>

<script>
  // Détection du scroll
  window.addEventListener("scroll", function() {
    // Sélection de la navbar
    var navbar = document.getElementById("mainNav");
    // Si la position de défilement est supérieure à 50 pixels, ajoute la classe pour changer le fond de la navbar
    if (window.scrollY > 50) {
      navbar.classList.add("navbar-scroll");
    } else {
      navbar.classList.remove("navbar-scroll");
    }
  }); 
</script>
</body>




</html>